body {
  background-image: url(assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.clock-container {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  padding: 10px 5px;
  border-radius: 5px;
}
.clock {
  color: white;
  font-size: 6rem;
  font-family: monospace;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.499);
}
